body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

ul {
    padding-left: 1.5em;
}

.echiquier {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 2px solid #333;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: 2em;
}

/* Section des Règles */
#regles {
    background-color: #f0f4f8;
    padding: 3em 1em;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#regles h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 1.5em;
}

.rules-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5em;
}

.rule-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    text-align: center;
    width: 45%;
    max-width: 300px;
}

.rule-item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.rule-icon {
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
}

.rule-item h3 {
    color: #444;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.rule-item p {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
}

#cookie-banner {
    position: fixed;
    bottom: -100px;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: bottom 0.5s ease-in-out;
}

#cookie-banner.visible {
    bottom: 0;
}

.cookie-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.cookie-buttons {
    margin-top: 1em;
}

.cookie-buttons button {
    margin: 0 10px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#accept-cookies {
    background-color: #4caf50;
    color: #fff;
}

#accept-cookies:hover {
    background-color: #45a049;
}

#decline-cookies {
    background-color: #f44336;
    color: #fff;
}

#decline-cookies:hover {
    background-color: #d32f2f;
}